@model IEnumerable<SmiteBuilder.Models.GodModel>

@{
    ViewData["Title"] = "Gods";
}

<h2>Gods</h2>

<div class="gallery">
    @foreach (var god in Model)
    {
        <div class="img-box">
            <img class="god-img" id="@god.id.ToString()" src="@god.card.ToString()" alt="@god.name.ToString()">
        </div>
    }
</div>