@using SmiteBuilder.Models;
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div>

    <select id="GodSelection">
        @foreach (GodModel god in ViewBag.Gods)
        {
            <option>@god.name</option>
        }
    </select>

</div>
