@model IEnumerable<ItemModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="gallery">
    @foreach (var item in Model)
    {
        
        <img class="item-img" src="@item.itemIcon_URL.ToString()" alt="@item.DeviceName.ToString()">
        
    }
</div>


