################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmiteBuilder/wwwroot/images
/SmiteBuilder/obj/Release/netcoreapp2.0/SmiteBuilder.AssemblyInfoInputs.cache
/SmiteBuilder/obj/Release/netcoreapp2.0/SmiteBuilder.csproj.CoreCompileInputs.cache
/SmiteBuilder/bin/Debug/netcoreapp2.0
/SmiteBuilder/obj/Debug/netcoreapp2.0
