body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    box-shadow: 5px 5px 20px black;
    border-radius: .2%;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        /* padding: 10px; */
        box-shadow: 0px 0px 0px 4px #222222;
        margin: 10px;
        border: #080808;
        width: 70px;
        border-width: 2px;
        border-style: solid;
        border-radius: 20%;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

div.gallery.div.item-frame {
    width: 70px;
    height: 70px;
    background: #222222;
    transition: height 2s;
    -webkit-transition: height 2s;
}

div.gallery.item-frame:hover {
    transition-delay: 2s;
    height: 200px;
}
.gallery .god-img {
    border: .2rem solid #222;
    box-shadow: -3px 1px 15px 0px #000;
    cursor: pointer;
    height: 18.4rem;
    -o-object-fit: cover;
    overflow: hidden;
    width: 18rem;
    object-fit: cover;
    border-radius: 1%;
    object-position: top;
}

@media (max-width: 599px) {
    .gallery .god-img {
        width: 100%;
        height: 8rem;
        background-position: left -1rem;
        background-size: 9.5rem;
        background-repeat: no-repeat
    }
}