body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    box-shadow: 5px 5px 20px black;
    border-radius: .2%;
    padding: 28px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width: 612px;
}

div.gallery-container {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.gallery img:focus {
        outline: none;
        border-color: darkgoldenrod;
    }



.gallery .item-img {
    border: .2rem solid #222;
    box-shadow: -3px 1px 15px 0 #000;
    cursor: pointer;
    -o-object-fit: cover;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1%;
    object-position: top;
}

div.gallery.item-frame:hover {
    transition-delay: 2s;
    height: 200px;
}
.gallery .god-img {
    border: .2rem solid #222;
    box-shadow: -3px 1px 15px 0px #000;
    cursor: pointer;
    height: 18.4rem;
    -o-object-fit: cover;
    overflow: hidden;
    width: 18rem;
    object-fit: cover;
    border-radius: 1%;
    object-position: top;
}
.gallery .img-box {
    width: auto;
    height: auto;
    margin: 1px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
}
.gallery .item-img-box {
    width: 128px;
    min-height: 188px;
    margin: 1px;
    margin-bottom: 8px;
    vertical-align: top;
    display: inline-block;
    border: solid black;
    border-top: 0px;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-top: none;
    background-color: #222;
    zoom: 1;
}
.gallery .img-box .centered {
    text-align: center;
    background-color: #000000;
    color: white;
    border-radius: 62%;
    border-top: 50px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.grid {
    background: #EEE;
    max-width: 1200px;
}

.grid-item {
    height: 180px;
    float: left;
    padding: 1rem;
}

/* item is invisible, but used for layout */
.grid-item,
.grid-item-content {
    width: 12rem;
    height: 17rem;
}

/* grid-item-content is visible, and transitions size */
.grid-item-content {
    width: 12rem;
    height: 17rem;
    -webkit-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
}
.grid-item-data{
    display: none;
}
.grid-item-img{
    width: 12rem;
    border-radius: 10%;
    display: inline-block;
}
.grid-item-text {
    text-align: center;
    font-size: 1.2rem;
    width: 12rem;
    display: block;
}
.grid-item-text-ex {
    text-align: center;
    width: 12rem;
    display: none;
}
.grid-item:hover .grid-item-content {
    border-color: white;
    
    cursor: pointer;
}

/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
    width: 36rem;
    height: 34rem;
   
}

.grid-item.is-expanded {
    z-index: 2;
    
}

    .grid-item.is-expanded .grid-item-content {
        border-radius: 10%;
        background-color: #0000000f;
    }
    .grid-item.is-expanded .grid-item-data{
        display: inline-block;
        position: absolute;
        margin: .5rem;
        word-wrap: break-word;
        width: 22rem;
    }
    .grid-item.is-expanded .grid-item-text-ex{
        display: block;
    }